<section class='transfer'>
  <div class='actions'>
    <button (click)='download()' color='primary' mat-raised-button>Download</button>
    <button (click)='openPanel()' color='primary' mat-raised-button>Open panel</button>
  </div>

  <div class='content'>
    <h1>Transfer information</h1>

    <ul *ngIf='transfer$ | async as transfer'>
      <li>{{ transfer.state }}</li>
      <li>{{ transfer.percent }}</li>
      <li>hasBeenInterrupted: {{ transfer.hasBeenInterrupted() }}</li>
      <li>isBusy: {{ transfer.isBusy() }}</li>
      <li>isFulfilled: {{ transfer.isFulfilled() }}</li>
    </ul>
  </div>
</section>


<router-outlet></router-outlet>
